{% extends "base.html" %}

{% block title %}Singularity{% endblock %}

{% block body %}
<div class="content">
    <center>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <h1 class="cipher">{{ message }}</h1>
        {% endfor %}
        {% endif %}
        {% endwith %}
        <a href="{{ url_for('index') }}">
            <button class="btn btn-dark jett">Return to Home page</button>
        </a>
    </center>
</div>
{% endblock %}